# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Env variables file
.env

# test coverage files
build/coverage/*


# IDEs
.vscode/
.idea/

# Dependency directories
node_modules/

# MacOsh DS_Store files
.DS_Store

server/build/
server/dist/
.server/dist/*
dist